
.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    margin-left: 0.5rem;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}


.infinity {
    overflow: auto;
    max-width: 100%;
}
@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
