.meme {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}
.meme img {
    max-width: 420px;
    margin: 0 auto;
}
.social_icons button {
    margin-right: 8px !important;
}

@media (max-width: 600px) {

        .sidebar_in_mobile{
            display: flex;
            overflow: auto;
            height: 60px;
        }

}